body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 39, 39);
    flex-direction: column;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 5px;
}

button {
    border-radius: 50px;
    font-size: 20px;
}

h1{
    font-size: 60px;
    color: white;
}

button:hover{
    box-shadow: 0 0 10px 1px white;
}

#rainbowBtn:hover {
    text-shadow: 0 0 10px 1px #000000;
  -webkit-animation: rainbowdropshadow .5s infinite;
  animation: rainbowdropshadow .5s infinite;
}

#grid-container {
    max-height: 720px;
    max-width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 50px solid red;
    box-shadow:0 9px 0 #9c0000, 9px 5px 0 #9c0000, 0 9px 0 #9c0000, 0 9px 0 #9c0000, -9px 5px 0 #9c0000;
    border-radius: 50px;
}

.row {
    display: flex;
    flex-direction: column;
}

.grid-square {
    background-color: white;
    display: flex;
    
}

@keyframes rainbowdropshadow {
    0% {
      box-shadow: 0 0 10px 1px #FF0000, 0 0 10px 1px #FF7F00, 0 0 10px 1px #FFFF00;
    }
    8% {
      box-shadow: 0 0 10px 1px #FF7F00, 0 0 10px 1px #FFFF00, 0 0 10px 1px #7FFF00;
    }
    16% {
      box-shadow: 0 0 10px 1px #FFFF00, 0 0 10px 1px #7FFF00, 0 0 10px 1px #00FF00;
    }
    25% {
      box-shadow: 0 0 10px 1px #7FFF00, 0 0 10px 1px #00FF00, 0 0 10px 1px #00FF7F;
    }
    33% {
      box-shadow: 0 0 10px 1px #00FF00, 0 0 10px 1px #00FF7F, 0 0 10px 1px #00FFFF;
    }
    41% {
      box-shadow: 0 0 10px 1px #00FF7F, 0 0 10px 1px #00FFFF, 0 0 10px 1px #007FFF;
    }
    50% {
      box-shadow: 0 0 10px 1px #00FFFF, 0 0 10px 1px #007FFF, 0 0 10px 1px #0000FF;
    }
    58% {
      box-shadow: 0 0 10px 1px #007FFF, 0 0 10px 1px #0000FF, 0 0 10px 1px #7F00FF;
    }
    66% {
      box-shadow: 0 0 10px 1px #0000FF, 0 0 10px 1px #7F00FF, 0 0 10px 1px #FF00FF;
    }
    75% {
      box-shadow: 0 0 10px 1px #7F00FF, 0 0 10px 1px #FF00FF, 0 0 10px 1px #FF007F;
    }
    83% {
      box-shadow: 0 0 10px 1px #FF00FF, 0 0 10px 1px #FF007F, 0 0 10px 1px #FF0000;
    }
    91% {
      box-shadow: 0 0 10px 1px #FF007F, 0 0 10px 1px #FF0000, 0 0 10px 1px #FF7F00;
    }
    100% {
      box-shadow: 0 0 10px 1px #FF0000, 0 0 10px 1px #FF7F00, 0 0 10px 1px #FFFF00;
    }
  }
