body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: gray;
    flex-direction: column;
}

button {
    display: flex;
    align-self: center;
    margin-bottom: 50px;
    
}

#grid-container {
    height: 360px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: column;
}

.grid-square {
    background-color: white;
    display: flex;
    
}
