body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    flex-direction: column;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 5px;
}

#grid-container {
    max-height: 360px;
    max-width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column;
}

.grid-square {
    background-color: white;
    display: flex;
    
}
